# SPDX-FileCopyrightText: 2021 Weymeirsch und Langer GbR
#
# SPDX-License-Identifier: AGPL-3.0-only

conf/common.php
conf/i18n.php
static/css/custom.css
static/js/custom.js
static/fonts/*
static/img/bg.jpg
