<?php
// SPDX-FileCopyrightText: 2021 Weymeirsch und Langer GbR
//
// SPDX-License-Identifier: AGPL-3.0-only

if ($lang == "de") {
    // index.php
    $indh1="Planado: Jitsi Raum buchen";
    $indh2="Oder sofort einen Raum starten";
    $indt1="Konferenzname";
    $indt2="Datum";
    $indt3="Uhrzeit";
    $indb1="Raum buchen";
    $indb2="Raum öffnen";
    // inv.php
    $waith="Die Konferenz hat noch nicht begonnen";
    $waitt="Bitte haben Sie Geduld. Sie werden automatisch weitergeleitet, sobald die Konferenz startet.";
    $noidh="Bitte geben Sie Ihre Einladungsnummer ein";
    // booking.php
    $headl="Sie haben einen Konferenzraum gebucht";
    $list1="Konferenzname: ";
    $list2="Datum: ";
    $list3="Uhrzeit: ";
    $list4="Konferenzraum: ";
    $list5="Kalenderevent: ";
    $list6="Admin-Zugang: ";
    // admin.php
    $adminh="Konferenzdaten ändern";
    $adminb="Raum ändern";
    $noid="Geben Sie die Einladungs- und Admin-ID ein";
} else {
    // index.php
    $indh1="Planado: book Jitsi room";
    $indh2="Or start a room immediately";
    $indt1="Name of Conference";
    $indt2="Date";
    $indt3="Time";
    $indb1="Book room";
    $indb2="Start room";
    // inv.php
    $waith="The conference has not started yet";
    $waitt="Please be patient. You will be redirected automatically, as soon as the conference starts.";
    $noidh="Please provide your Invite-ID";
    // booking.php
    $headl="You booked a conference room";
    $list1="Name of Conference: ";
    $list2="Date: ";
    $list3="Time: ";
    $list4="Conference Room: ";
    $list5="Calendar-Event: ";
    $list6="Admin-Access: ";
    // admin.php
    $adminh="Change Conference Information";
    $adminb="Change room";
    $noid="Please provide the Invite and Admin IDs";

}

?>
