<?php
// SPDX-FileCopyrightText: 2021 Weymeirsch und Langer GbR
//
// SPDX-License-Identifier: AGPL-3.0-only

if ($lang == "de") {
    // common
    $nojs="Javascript ist in Ihrem browser deaktiviert. Einige Funktionen stehen Ihnen möglicherweise nicht zur Verfügung.";
    // index.php
    $ind_title="Planado";
    $ind_desc="Jitsi Räume buchen";
    $indh1="Planado: Jitsi Raum buchen";
    $indh2="Oder sofort einen Raum starten";
    $indt1="Konferenzname";
    $indt2="Datum";
    $indt3="Uhrzeit";
    $indt4="Wiederholungen";
    $inrec1="täglich";
    $inrec2="wöchentlich";
    $inrec3="monatlich";
    $indb1="Raum buchen";
    $indb2="Raum öffnen";
    // inv.php
    $inv_title="Planado";
    $inv_desc="Konferenz hat noch nicht begonnen";
    $waith="Die Konferenz hat noch nicht begonnen";
    $waitt="Bitte haben Sie Geduld. Sie werden automatisch weitergeleitet, sobald die Konferenz startet.";
    $noidh="Bitte geben Sie Ihre Einladungsnummer ein";
    // booking.php
    $book_title="Planado";
    $book_desc="Ihre Konferenzdaten";
    $headl="Sie haben einen Konferenzraum gebucht";
    $list1="Konferenzname: ";
    $list2="Datum: ";
    $list3="Uhrzeit: ";
    $list4="Konferenzraum: ";
    $list5="Kalenderevent: ";
    $list6="Admin-Zugang: ";
    $cpbtnpre="Daten kopieren";
    $cpbtnpost="Daten kopiert!";
    $mailbtn="Per E-mail senden";
    $invtx="Sie wurden zu einer Videokonferenz eingeladen";
    // out.php
    $priv_title="Planado";
    $priv_desc="Akzeptieren Sie die Datenschutzerklärung";
    $privh="Datenschutzerklärung";
    $privt="Sie werden nun zu Jitsi-Meet weitergeleitet. Bitte lesen Sie die Datenschutzerklärung sorgfältig durch.";
    $privb="Akzeptieren";
    // admin.php
    $admin_title="Planado";
    $admin_desc="Konferenzdaten ändern";
    $adminh="Konferenzdaten ändern";
    $adminb="Raum ändern";
    $noid="Geben Sie die Einladungs- und Admin-ID ein";
} else {
    // common
    $nojs="Javascript seems to be disabled in your browser. Some functionality may not be available to you.";
    // index.php
    $ind_title="Planado";
    $ind_desc="Book Jitsi rooms";
    $indh1="Planado: book Jitsi room";
    $indh2="Or start a room immediately";
    $indt1="Name of Conference";
    $indt2="Date";
    $indt3="Time";
    $indt4="Recurrances";
    $inrec1="daily";
    $inrec2="weekly";
    $inrec3="monthly";
    $indb1="Book room";
    $indb2="Start room";
    // inv.php
    $inv_title="Planado";
    $inv_desc="Conference has not started";
    $waith="The conference has not started yet";
    $waitt="Please be patient. You will be redirected automatically, as soon as the conference starts.";
    $noidh="Please provide your Invite-ID";
    // booking.php
    $book_title="Planado";
    $book_desc="Your conference information";
    $headl="You booked a conference room";
    $list1="Name of Conference: ";
    $list2="Date: ";
    $list3="Time: ";
    $list4="Conference Room: ";
    $list5="Calendar-Event: ";
    $list6="Admin-Access: ";
    $cpbtnpre="Copy information";
    $cpbtnpost="Copied Information!";
    $mailbtn="Send via E-Mail";
    $invtx="You have been invited to a video conference";
    // out.php
    $priv_title="Planado";
    $priv_desc="Accept the privacy-policy";
    $privh="Privacy-Policy";
    $privt="You are now being redirected to Jitsi-Meet. Please read the Privacy-Policy carefully.";
    $privb="Accept";
    // admin.php
    $admin_title="Planado";
    $admin_desc="Change conference room";
    $adminh="Change Conference Information";
    $adminb="Change room";
    $noid="Please provide the Invite and Admin IDs";
}

?>
